@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default values that will be overridden by JS */
  --primary-font: 'Inter', sans-serif;
  --accent-font: 'Playfair Display', serif;
  
  /* Primary Metrics */
  --primary-weight: 400;
  --primary-line-height: 1.6;
  --primary-letter-spacing: 0px;
  
  /* Accent/Heading Metrics */
  --accent-weight: 700;
  --accent-line-height: 1.2;
  --accent-letter-spacing: 0px;
  --heading-transform: none;

  /* Font Sizes */
  --base-font-size: 16px;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 24px;
}

body {
  font-family: var(--primary-font);
  font-size: var(--base-font-size);
  font-weight: var(--primary-weight);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

h1 {
  font-family: var(--accent-font);
  font-size: var(--h1-size);
  font-weight: var(--accent-weight);
  line-height: var(--accent-line-height);
  letter-spacing: var(--accent-letter-spacing);
  text-transform: var(--heading-transform);
}

h2 {
  font-family: var(--accent-font);
  font-size: var(--h2-size);
  font-weight: var(--accent-weight);
  line-height: var(--accent-line-height);
  letter-spacing: var(--accent-letter-spacing);
  text-transform: var(--heading-transform);
}

h3 {
  font-family: var(--accent-font);
  font-size: var(--h3-size);
  font-weight: var(--accent-weight);
  line-height: var(--accent-line-height);
  letter-spacing: var(--accent-letter-spacing);
  text-transform: var(--heading-transform);
}

button, nav, .ui-element {
  /* Buttons usually follow a cleaner primary or secondary font style */
  font-family: var(--primary-font);
}

.product-description ul {
  list-style-type: disc;
  margin-left: 1.25em; /* Adjust as needed for spacing */
}

.product-description ol {
  list-style-type: decimal;
  margin-left: 1.25em; /* Adjust as needed for spacing */
}

.product-description li {
  margin-bottom: 0.5em; /* Space between list items */
}

/* mobile-only class */
@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}